#user-container {
    
}

#user-username {

}

#user-displayname {

}

#user-facebook-id {
    
}

#user-facebook-instant-id {
    
}

#user-gamecenter-id {
    
}

#user-google-id {
    
}

#user-steam-id {
    
}

#user-avatar-url {
    
}